/** Calculated Objects qtype
 */
.que.calculatedobjects *{font:1em 'Comic Sans MS',sans-serif; color:#252}
.que.calculatedobjects .qtext{font-size:1.5em; margin:.5em 0 1em}
.que.calculatedobjects input{font-size:2em !important; text-align:center; padding:2px; background:#f8f8f8; max-width:99%}

/*
.que.calculatedobjects ._answer{width:18em; border:1px solid #7a7; -moz-border-radius:4px;}
.que.calculatedobjects fieldset.answer input{width:98%; text-align:center; color:#226;}
.que.calculatedobjects .prompt{ padding:0 0.5em; }
.que.calculatedobjects [type=submit]{ margin-left:.5em; }
h3.qco-text{ font-weight:bold; margin:0 3em .7em .5em; }
*/

.qco-objects{border:1px solid #bcb; -moz-border-radius:8px; border-radius:8px; padding:5px 0;}
.qco-objects div { width:45%; float:left; }
.qco-objects .car img { padding:5px 0 25px; }
.qco-objects.vertical div{ width:90%; margin:0 auto;float:none; }
.qco-objects .op{width:9%; float:left; text-align:center; font-size:3.5em; margin:.9em 0}
.qco-objects .op.vertical { float:none; font-size:1em; }
.qco-objects hr.o{ width:50%; height:5px; background:#666; }
.qco-objects img{ vertical-align:middle; }
.qco-objects .big{font-size:2em; font-style:normal;}



/* Question answer UI - HTML5 styles - probably for the theme..
.que.calculatedobjects input:focus:invalid{outline:1px solid red}
*/

/* Question editor UI - in your theme.
#page-question-type-calculatedobjects input#id_answer_0{width:20em !important;}
*/
